.container {
  width: 1200px;
  margin: 0 auto;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align-last: left;
}
.text-right {
  text-align: right;
}
.hide {
  overflow: hidden;
}
.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}
.position-fixed {
  position: fixed;
}
.border-radius {
  border-radius: 10px;
}
.border-circle {
  border-radius: 50%;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.ds-inline-block {
  display: inline-block;
}
.m-auto {
  margin: 0 auto;
}
.mt-30 {
  margin-top: 30px;
}
.mt-50 {
  margin-top: 50px;
}
.mr-25 {
  margin-right: 25px;
}