$color-primary: #F5A623;
$color-dark: #2D2C2C;
$color-dark2: #434343;
$color-light: #FFFFFF;
$color-break: rgb(7, 176, 228);

$text-xs: 20px;
$text-sm: 36px;
$text-md: 40px;
$text-lg: 45px;
$text-xl: 50px;
