.page {
  position: absolute;
  top: 0;
  left: 15%;
  width: 40%;
  min-height: 100vh;
  padding: 73px 0px 30px 0px;
  background-color: $color-dark;
  .page__title {
    padding-left: 56px;
    color: $color-primary;
    font-size: 32px;
    margin: 0;
  }
}