@for $i from 0 through 1500 {
  .rotate-#{ $i } {
    transform: rotate(0.24deg * $i )!important;
  }
}
@for $i from 0 through 8 {
  .straight-#{ $i } {
    left: $i * 50px;
  }
}
@for $i from 0 through 6 {
  .horizontal-#{ $i } {
    bottom: $i * 50px;
  }
}