.set__box {
  padding: 0 20px;
  width: 480px;
  height: 60px;
  line-height: 60px;
  font-size: 20px;
  color: $color-light;
  .set__input {
    width: 100px;
    background-color: transparent;
    padding: 10px 23px;
    color: $color-light;
    height: 35px;
    border: 1px solid $color-primary;
    border-radius: 5px;
  }
  .set__btn {
    border-radius: 20px;
    &:hover {
      background-color: $color-primary;
      color: $color-light;
    }
  }
}