.time {
  top: 0;
  right: 0;
  width: 45%;
  height: 100vh;
  h2 {
    margin-top: 60px;
    color: $color-primary;
    font-size: 40px;
  }
  .time__clock {
    width: 456px;
    height: 456px;
    margin: 50px auto;
    border: 4.5px solid $color-primary;
    background-color: $color-dark2;
    z-index: 2;
    .time__view{
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 380px;
      height: 380px;
      background-color: $color-dark2;
      border: 4.5px solid $color-primary;
      z-index: 3;
    }
    .time__font {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $color-light;
      font-size: 85px;
      width: 300px;
    }
    .progress {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 455px;
      height: 455px;
    }
    .workProgress-bar, .breakProgress-bar {
      top: -0.5%;
      left: 50%;
      transform: translateX( -50%);
      width: 1.5px;
      height: 50.5%;
      background-color: $color-primary;
      transition: all .5s;
      transform-origin: bottom;
      z-index: 1;
    }
    .breakProgress-bar {
      width: 4.5px;
    }
  }
  .time__btn {
    width: 168px;
    height: 48px;
    font-size: 30px;
    color: $color-dark2;
    background-color: $color-primary;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    transition: all .3s;
    &:focus {
      outline: none;
    }
    &:hover {
      font-size: 34px;
      transform: translate(-2%, -2%);
      box-shadow: 1px 1px 10px black;
    }
  }
  .time__pointGroup {
    display: flex;
    justify-content: center;
    .time__point {
      width: 18px;
      height: 18px;
      border: 1px solid $color-primary;
    }
  }
  .mode {
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 45px;
    color: $color-primary
  }
  .second-active {
    opacity: 0;
  }
}